@model Patient_Manager.Models.Medicalrecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Medicalrecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recordid" />
            <div class="form-group">
                <label asp-for="Patientid" class="control-label"></label>
                <select asp-for="Patientid" class="form-control" asp-items="ViewBag.Patientid"></select>
                <span asp-validation-for="Patientid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diseasename" class="control-label"></label>
                <input asp-for="Diseasename" class="form-control" />
                <span asp-validation-for="Diseasename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enddate" class="control-label"></label>
                <input asp-for="Enddate" class="form-control" />
                <span asp-validation-for="Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

