@model Patient_Manager.Models.Checkup

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Checkup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Checkupid" />
            <div class="form-group">
                <label asp-for="Patientid" class="control-label"></label>
                <select asp-for="Patientid" class="form-control" asp-items="ViewBag.Patientid"></select>
                <span asp-validation-for="Patientid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkuptype" class="control-label"></label>
                <input asp-for="Checkuptype" class="form-control" />
                <span asp-validation-for="Checkuptype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkupdate" class="control-label"></label>
                <input asp-for="Checkupdate" class="form-control" />
                <span asp-validation-for="Checkupdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkuptime" class="control-label"></label>
                <input asp-for="Checkuptime" class="form-control" />
                <span asp-validation-for="Checkuptime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

